#Python Data structure

- 1.What are data structures, and why are they important?
  
  Data structures are ways of organizing and storing data to perform operations efficiently. They're crucial because they optimize data management, retrieval, and modification, improving performance in software applications.

- 2.Explain the difference between mutable and immutable data types with examples.

  Mutable: Can be changed after creation (e.g., lists: my_list = [1, 2], then my_list[0] = 3).

  Immutable: Cannot be changed after creation (e.g., tuples: my_tuple = (1, 2); my_tuple[0] = 3 raises an error).

- 3.What are the main differences between lists and tuples in Python?

 Lists: Mutable, dynamic, slower, use more memory.

 Tuples: Immutable, faster, memory-efficient, used for fixed collections.

- 4.Describe how dictionaries store data.

 Dictionaries store data as key-value pairs. Internally, they use a hash table, which maps keys to values via a hashing function.

- 5.Why might you use a set instead of a list in Python?

  To remove duplicates automatically.

  To perform set operations like union, intersection, etc.

  Faster membership checks (in operator).

- 6.What is a string in Python, and how is it different from a list?

  A string is an immutable sequence of characters, while a list is a mutable sequence of any data type. Strings can't be modified after creation.

- 7.How do tuples ensure data integrity in Python?
  
  By being immutable, tuples prevent accidental modification of data, making them ideal for constant sets of values.

- 8.What is a hash table, and how does it relate to dictionaries in Python?
  
  A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables for fast data access.

- 9.Can lists contain different data types in Python?
  
  Yes, Python lists are heterogeneous, meaning they can contain elements of different types (e.g., [1, "a", 3.5]).

- 10.Explain why strings are immutable in Python.

 Strings are immutable to ensure memory efficiency and safety in multi-threaded environments and to allow string interning.

- 11.What advantages do dictionaries offer over lists for certain tasks?
Dictionaries offer:

  Faster lookup using keys.

  Clearer mapping between data (e.g., names and phone numbers).

  Constant-time average access time.

- 12.Describe a scenario where using a tuple would be preferable over a list.

 When returning multiple values from a function that shouldn't be modified, a tuple ensures integrity.

- 13.How do sets handle duplicate values in Python?
  
  Sets automatically remove duplicates, storing only unique elements.

- 14.How does the “in” keyword work differently for lists and dictionaries?

  In lists, in checks for presence of a value.


  In dictionaries, in checks for presence of a key, not value.

- 15.Can you modify the elements of a tuple? Explain why or why not.

 No, tuples are immutable. Once created, their elements cannot be changed, added, or removed.

- 16.What is a nested dictionary, and give an
  example of its use case?

  A nested dictionary contains dictionaries as values:


   students = { "Alice": {"age": 20, "grade": "A"},
  "Bob": {"age": 22, "grade": "B"}}

   Use case: storing structured data like records or JSON objects.

- 17.Describe the time complexity of accessing elements in a dictionary.

 Average-case O(1) (constant time), due to hash table implementation.

- 18.In what situations are lists preferred over dictionaries?

 When order matters.

 When storing collections of similar items.

 When no unique keys are needed.

- 19.Why are dictionaries considered unordered, and how does that affect data retrieval?

 In older versions of Python (<3.7), dictionaries were unordered. In 3.7+, insertion order is preserved, but conceptually, they focus on key-based access, not sequence.

- 20.Explain the difference between a list and a dictionary in terms of data retrieval.

 List: Access by index (e.g., my_list[2]).

  Dictionary: Access by key (e.g., my_dict["name"]), which is generally faster for large datasets


  #Practical questioins

  - 1. Create a string with your name and print it

In [4]:
name = "Kuldeep"
print(name)

Kuldeep

- 2.Find the length of the string "Hello World"

In [2]:
string = "Hello World"
print(len(string))

11

- 3.Slice the first 3 characters from the string "Python Programming"

In [3]:
text = "Python Programming"
print(text[:3])

Pyt

- 4. Convert the string "hello" to uppercase

In [5]:
greeting = "hello"
print(greeting.upper())

HELLO

- 5.Replace the word "apple" with "orange" in the string "I like apple

In [6]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

- 6.Create a list with numbers 1 to 5 and print it

In [7]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

- 7.Append the number 10 to the list [1, 2, 3, 4]

In [8]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

- 8.Remove the number 3 from the list [1, 2, 3, 4, 5]

In [9]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

- 9.Access the second element in the list ['a', 'b', 'c', 'd']

In [11]:
chars = ['a', 'b', 'c', 'd']
print(chars[1])

b

- 10.Reverse the list [10, 20, 30, 40, 50

In [12]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

- 11.Create a tuple with the elements 100, 200, 300 and print it

In [13]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

- 12.Access the second-to-last element of the tuple

In [14]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

- 13.Find the minimum number in the tuple (10, 20, 5, 15)

In [15]:
nums = (10, 20, 5, 15)
print(min(nums))

5

- 14.Find the index of the element "cat" in the tuple

In [16]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

- 15.Create a tuple with 3 fruits and check if "kiwi" is in it

In [17]:
fruits = ('apple', 'banana', 'orange')
print('kiwi' in fruits)

False

- 16.Create a set with the elements {'a', 'b', 'c'} and print it

In [18]:
s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

- 17.Clear all elements from the set {1, 2, 3, 4, 5}

In [19]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

- 18.Remove the element 4 from the set

In [20]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

::- 19.Find the union of two sets

In [21]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

- 20.Find the intersection of two sets

In [22]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

- 21.Create a dictionary with keys 'name', 'age', 'city'

In [23]:
person = {'name': 'John', 'age': 25, 'city': 'New York'}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

- 22.Add new key–value pair 'country': 'USA'

In [24]:
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

- 23.Access the value associated with the key 'name'

In [25]:
data = {'name': 'Alice', 'age': 30}
print(data['name'])

Alice

- 24.Remove the key 'age'

In [26]:
data = {'name': 'Bob', 'age': 22, 'city': 'New York'}
data.pop('age')
print(data)

{'name': 'Bob', 'city': 'New York'}

- 25. Check if 'city' exists in the dictionary

In [27]:
info = {'name': 'Alice', 'city': 'Paris'}
print('city' in info)

True

- 26.Create and print a list, tuple, and dictionary

In [28]:
l = [1, 2, 3]
t = (4, 5, 6)
d = {'a': 7, 'b': 8}
print(l, t, d)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

- 27.Create a list of 5 random numbers between 1 and 100, sort ascending, print result

In [29]:
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[12, 17, 21, 30, 85]

- 28. Create a list with strings and print third element

In [30]:
words = ['apple', 'banana', 'cherry', 'date']
print(words[2])

cherry

- 29.Combine two dictionaries into one

In [31]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

- 30.Convert a list of strings into a set

In [32]:
lst = ['a', 'b', 'a', 'c']
print(set(lst))

{'b', 'c', 'a'}